*.pyc
*.pkl
# *.ipynb
*.pickle
*.bak
*.html
*.pdf
.*/
visualization/
experiment/
scripts/
build/
PyBMF/models/bmf_exact_kovacs/
PyBMF/models/bmf_ip_kovacs/
PyBMF/models/bmf_maxsat_avellaneda/
PyBMF/models/bmf_mp_ravanba/
PyBMF/models/bmf_ormachine_rakut/
PyBMF/models/bmf_primping_hess/
PyBMF/models/bmf_elbmf_fujiwara/
PyBMF/models/ormachine/
PyBMF/models/UndercoverBMF/